<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Профиль {{user.userLogin}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">

        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img alt=""
                     class="rounded-circle mt-5"
                     width="150px"
                     src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Name</label>
                        <label class="labels"><input readonly
                                                     type="text"
                                                     class="form-control"
                                                     placeholder="Имя"
                                                     name="name"
                                                     value="{{user.name}}">
                        </label>
                    </div>
                    <div class="col-md-6"><label class="labels">Surname</label>
                        <label class="labels"><input readonly
                                                     type="text"
                                                     class="form-control"
                                                     placeholder="Фамилия"
                                                     name="surname"
                                                     value="{{user.surname}}">
                        </label>
                    </div>
                    <div class="col-md-6"><label class="labels">Patronymic</label>
                        <label class="labels"><input readonly
                                                     type="text"
                                                     class="form-control"
                                                     placeholder="Отчество"
                                                     name="patronymic"
                                                     value="{{user.patronymic}}">
                        </label>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">City</label>
                        <label class="labels"><input readonly
                                                     type="text"
                                                     class="form-control"
                                                     placeholder="Город"
                                                     name="city"
                                                     value="{{user.city}}">
                        </label>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">дата рождения</label>
                        <label class="labels"><input readonly
                                                     type="date"
                                                     class="form-control"
                                                     name="birth_date"
                                                     value="{{user.birth_date}}">
                        </label>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">образование</label>
                        <label class="labels"><input readonly
                                                     type="text"
                                                     class="form-control"
                                                     name="education"
                                                     value="{{user.education}}">
                        </label>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">номер телефона</label>
                        <label class="labels"><input readonly
                                                     type="number"
                                                     class="form-control"
                                                     name="phone_number"
                                                     value="{{user.phone_number}}">
                        </label>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">дата рождения</label>
                        <label class="labels"><input readonly
                                                     type="date"
                                                     class="form-control"
                                                     name="email"
                                                     value="{{user.email}}">
                        </label>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">специальность</label>
                        <label class="labels"><input readonly
                                                     type="text"
                                                     class="form-control"
                                                     name="specialization"
                                                     value="{{user.specialization}}">
                        </label>
                    </div>
                </div>
                {{#if authorized}}
                    {{#if  isMyProfile}}
                        <div class="mt-5 text-center">
                            <button class="btn btn-primary profile-button" type="button"
                                    onclick="document.location = '/edit/profile'">Редактировать
                            </button>
                        </div>
                        <form action="/deleteProfile" method="post">
                            <div class="mt-5 text-center">
                                <button class="btn btn-primary profile-button" type="submit">Удалить профиль
                                </button>
                            </div>
                        </form>
                    {{/if}}
                {{/if}}
                {{#unless isMyProfile}}
                    {{#if canReview}}
                        <div class="mt-5 text-center">
                            <button class="btn btn-primary profile-button" type="button"
                                    onclick="document.location = '/review/{{user.userLogin}}'">Оставить отзыв
                            </button>
                        </div>
                    {{/if}}
                {{/unless}}
                <ul className="ads-list">Отзывы о пользователе
                    {{#each reviews}}
                        <li><a href="/profile/{{this.author}}">{{this.author}}</a> mark: {{this.rate}}
                            text: {{this.comment}}</li>
                    {{/each}}
                    {{#unless reviews}}
                        <p>еще никто не оставил отзывов!</p>
                    {{/unless}}
                </ul>
                <ul className="ads-list">Список объявлений
                    {{#each listenings}}
                        <li><a href="/listening/{{this.id}}">name: {{this.name}} date: {{this.date}}</a></li>
                    {{/each}}
                    {{#unless listenings}}
                        <p>нет объявлений!</p>
                    {{/unless}}
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>